<div class="col-lg-7 col-md-9 col-sm-8">
      <td> Duration in minutes </td>
      <td> <%= @exercise.duration_in_min %></td>

      <td> Title of exercise</td>
      <td> <%= @exercise.workout %></td>

      <td> Date of exercise</td>
      <td> <%= @exercise.workout_date %></td>
     
</div>